# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.dat
.idea/*
*.txt
*.orig

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor/*